@media screen and (max-width: 576px) {
   #book_png{
      display: none;
    }

#get_button{
   display: none; 
}

#card_all{
    margin-left: 100px;
}


  }

 @media(max-width:667px){
  .background_6{
    height: 800px !important;
    background-color: rgb(17,17,17);
  }
.footer_name{
    position: relative;
    top: 10px;
}
.card_footer_2{
   display: none;
}
.card_footer_3{
    position: relative;
    top: 50px;
    border-top: 1px solid white;
 }
 .icons_1{
    margin-top: 30px;
 }
 .search{
  display: none !important;
 }
 body{
  overflow-x: hidden;
 }
}


  .background_6{
    height: 500px;
    width: 100%;
    background-color: rgb(17,17,17);
}
.background_7{
    height: 60px;
    width: 100%;
    background-color: #76232F;
}
.icons_1{
     height: 60px;
    border-radius: 50%;
    background-color: #76232F;
    width: 60px;
    border: none; 
    color: white;
    font-size: 26px;
}
body{
  overflow-x: hidden;
}